<h2>Interns list</h2>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th (click)="sortByName()">Lastname</th>
      <th>Firstname</th>
      <th>Email</th>
      <th>Phone</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let intern of interns">
      <td>{{ intern.id }}</td>
      <td>
        <a [routerLink]="['/', 'intern', intern.id]">{{ intern.name | uppercase }}</a>
      </td>
      <td>{{ intern.firstname }}</td>
      <td>{{ intern.email }}</td>
      <td>{{ intern.phoneNumber }}</td>
      <td><span (click)="onDelete(intern)">
        <div appInitials [intern]="intern" [config]="bubbleConfig"></div>
      </span></td>
    </tr>
  </tbody>
</table>

<a [routerLink]="['/', 'intern', 'manage', 'add']">Add an Intern</a>
