/**
* Some SCSS vars
**/
$default-color: #000;
$lighten-color: ligthten($default-color, 10%);

.intern-card {
  width: 50em;
  border: solid 1px $default-color;
  box-shadow: 5px 5px 5px 5px $default-color;
  span {
    &.uppercase {
      text-transform: uppercase;
    }
  }
}


/**
:host {
  --default-color: #000;
}
* .intern-card {
    width: 50em;
  border: solid 1px var(--default-color);
  box-shadow: 0 5px 5px -5px var(--default-color);
  box-shadow: 5px 0 5px -5px var(--default-color);
}

.intern-card span.uppercase {
  text-transform: uppercase;
}
**/
